<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="header" class="${styles.header}"></div>
    <div class="${styles.body}" id="body">
      <div id="profile_card_mini"></div>
      <div id="content"></div>
    </div>
    <div class="${styles.sideBar}">
      <div id="profile_Card"></div>
      <div id="recent_posts"></div>
    </div>
  </body>
</html>
