<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <img class="${styles.image}" src="${image}" alt="Profile picture" />
    <div class="${styles.details}">
      <h4 class="${styles.name}">T Sri Rama Raju</h4>
      <p class="${styles.meta}">Jul 5,2022. 5min read</p>
    </div>
    <div class="${styles.iconsContainer}">
      ${icons.facebook.toSvg({ class: styles.icon })} ${icons.twitter.toSvg({
      class: styles.icon })} ${icons.youtube.toSvg({ class: styles.icon })}
      ${icons.link.toSvg({ class: styles.icon })}
    </div>
  </body>
</html>
