<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2 class="${styles.heading}">
      My First Resume and it's not the convention!
    </h2>
    <iframe
      allowfullscreen="allowfullscreen"
      scrolling="no"
      class="fp-iframe"
      style="border: 1px solid lightgray; width: 100%; height: 600px"
      src="https://heyzine.com/flip-book/7f6e1515d6.html"
    ></iframe>
    <p class="${styles.text}">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
      expedita maiores temporibus sint, placeat quaerat sapiente id. Totam rem,
      sequi porro ipsam obcaecati natus culpa! Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. Nulla, modi commodi, vero saepe, inventore
      sed consequuntur dignissimos vitae praesentium mollitia consequatur
      voluptatem quos? Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Praesentium expedita maiores temporibus sint, placeat quaerat sapiente id.
      Totam rem, sequi porro ipsam obcaecati natus culpa! Lorem ipsum dolor, sit
      amet consectetur adipisicing elit. Nulla, modi commodi, vero saepe,
      inventore sed consequuntur dignissimos vitae praesentium mollitia
      consequaturExpedita excepturi exercitationem maiores modi quae? Dicta,
      voluptatibus. Deserunt incidunt pariatur voluptatum voluptatem, odio
      possimus totam a. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Nam nostrum, dolorum quidem est dolor cum.
    </p>
    <div id="discussions"></div>
  </body>
</html>
